<ion-header>
    <ion-toolbar>
      <ion-title>
        ReachUs
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
  
    <ion-card class="contact us">
      <ion-img src="/assets/contact.png"></ion-img>
      <ion-card-header>
      </ion-card-header>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-icon name="call" slot="start"></ion-icon>
        <ion-label>+91-120-4390000</ion-label>
      </ion-item>
      <ion-card>
        <ion-item>
          <ion-icon name="mail" slot="start"></ion-icon>
          <ion-label>contact@bhilwarainfo.com</ion-label>
          <a href="mailto:name@rapidtables.com">mailTo</a>


        </ion-item>
      </ion-card>
  
    </ion-card>
  
  
  </ion-content>