<ion-header>
  <ion-toolbar>
    <ion-title>
      AboutUs
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
     
      BIL is proud to be a part of the LNJ Bhilwara Group. LNJ is a professionally managed corporation that sets examples for each company within the group. With over 25,000 employees worldwide, we are one of the largest employers in India with sales in excess of 1.5 Billion.

      LNJ is involved in a variety of projects, each of which has excelled in its own field. The list includes hydro-electric power plants, retail garments, graphite electrodes, sponge iron, information technology, power consultancy and financial services. Of these projects, LNJ successfully owns and operates six well known garment brands in different categories.
      
      We inherit our customer care policy from our group. LNJ sets numerous examples in the area of customer satisfaction and taking that extra step which others may not. This philosophy combined with world class business management practices sets LNJ in a class of its own.
      
      Apart from achieving and perhaps surpassing international standards on productivity, and human resources management, each group company has maintained the global vision of quality, people empowerment and above all, a genuine interest in raising standards.
      
      Reinventing the wheel has never been a strong point with us. LNJ has associations with leading companies in different fields 
</ion-card>
</ion-content>
